@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');

:root {
    --bg-color: #323437;
    --sub-color: #646669;
    --sub-alt-color: #2c2e31;
    --text-color: #d1d0c5;
    --error-color: #ca4754;
    --error-extra-color: #7e2a33;
    --colorful-error-color: #ca4754;
    --colorful-error-extra-color: #7e2a33;
}

.caret {
    border-bottom: 3px solid var(--caret-color);
}

/* parent division for text portion */
#view {
    margin: 20px auto;
    padding: 1em 20px;
    font-family: 'Titillium Web', sans-serif;
}

.content {
    font-size: 1.5rem;
    font-weight: 700;
}

.letter {
    color: var(--sub-alt-color);
}

.line {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* remove whitespace between span elements */
span {
    float: left;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Styling for the space element */
.space-element {
    /* border: 1px solid red; */
    padding-top: 0.2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    height: 100%;
    /* aspect-ratio: 2 / 2; */
}

.space-circle {
    /* margin: auto; */
    /* aspect-ratio: 1 / 1; */
    width: 5px;
    height: 5px;
    border-radius: 50%;    
    background-color: var(--text-color);
}

/* letter styling when its not reached yed */
.pending {
    color: var(--text-color);
    opacity: 60%;
}

/* correct letter styling */
.correct {
    opacity: 100%;
}

/* incorrect letter styling */
.incorrect {
    /* color: var(--error-color) */
    color: rgb(255, 30, 30);
}

/* dark theme styling */
html {
    background-color: var(--bg-color);
}

#parent-container {
    background-color: var(--bg-color);
    margin-bottom: 20px;
}

#header {
    background-color: var(--bg-color);
}

span {
    color: var(--text-color);
}
/*
* Responsive
*/
@media (max-width: 744px) {
    #root {
        width: 95%;
    }
    
    .content {
        font-size: 1rem;
    }
}

@media screen and (min-width: 745px) {
    #keyboard {
        scale: 0.7;
    }
}