@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');

:root {
    --bg-color: #323437;
    --sub-color: #646669;
    --sub-alt-color: #2c2e31;
    --text-color: #d1d0c5;
    /* --text-color: #00ff00; */
    --error-color: #ca4754;
    --error-extra-color: #7e2a33;
    --colorful-error-color: #ca4754;
    --colorful-error-extra-color: #7e2a33;
}

/* caret styling */
.correct-caret {
    border-bottom: 3px solid var(--caret-color);
}

.incorrect-caret {
    /* border-bottom: 3px solid red; */
}

/* parent division for text portion */
#view {
    margin: 20px auto;
    padding: 1em 20px;
    /* font-family: 'Titillium Web', sans-serif; */
}

.content {
    font-size: 1.5rem;
    font-weight: 700;
}

.letter {
    color: var(--sub-alt-color);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.line {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

/* remove whitespace between span elements */
span {
    float: left;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Styling for the space element */
.space-element {
    /* border: 1px solid red; */
    padding-top: 0.2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    height: 100%;
    /* aspect-ratio: 2 / 2; */
}

.space-circle {
    /* margin: auto; */
    /* aspect-ratio: 1 / 1; */
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--text-color);
}

/* letter styling when its not reached yed */
.pending {
    color: var(--text-color);
    opacity: 60%;
}

/* correct letter styling */
.correct {
    opacity: 100%;
}

/* incorrect letter styling */
.incorrect {
    /* color: var(--error-color) */
    color: rgb(255, 30, 30);
}

/* styling for incorrect space circle node elements */
.incorrect-space {
    background-color: rgb(255, 30, 30);
    opacity: 60%;
}

/* dark theme styling */
html {
    background-color: var(--bg-color);
}

#parent-container {
    background-color: var(--bg-color);
    margin-bottom: 20px;
}

#header {
    background-color: var(--bg-color);
}

span {
    color: var(--text-color);
}

/*
* Responsive
*/
@media (max-width: 744px) {
    #root {
        width: 95%;
    }

    .content {
        font-size: 1rem;
    }
}

/* mobile */
@media screen and (max-width: 400px) {
    #parent-container {
        padding: 20px 10px;
    }

    #keyboard {
        margin: 15px 0px;
        padding: 6px 8px;
        scale: 1;
    }

    #view {
        margin-top: 15px;
        padding: 1em 8px;
    }

    .time-txt,
    .speed-info {
        font-size: 1.8rem;
    }

    .header {
        margin-top: 20px;
    }

}